<div class="text-center h-25">
    <img src="/images/AshKetchum.jpg">
</div>

<div class="container text-center w-50">
    <p>Ash is one of anime's most decisive protagonists, with some
        praising his realism (he loses nearly as much as he wins),
        others criticizing his naivety. Regardless of your feelings towards him, Ash has made it pretty far in several
        regional
        tournaments, even winning some leagues, but how do his lineups actually hold up? Based on their video game
        strength,
        these are Ash's 10 best Pokémon teams!</p>
</div>